section{
  background-color: #ffffff;
}

.bg-image-full {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  /* transition: 1s; */
}

h1{
  color: #363a40;
}

h1>a{
  color: #363a40;
  transition: ease .3s;
}

h1>a:hover{
  color: #5d6064;
  transition: ease .3s;
}

p.lead{
  color: #363a40;
}

p{
  color: #212528;
}
